<style>
    body
    {
        width: 100%;
    }
    /* Style each row of the table */
    table tr {
        cursor: pointer;
    }

    /* Alternate row colors */
    tbody:nth-child(even) tr {
        background-color: #f2f2f2;
    }

    tbody:nth-child(odd) tr {
        background-color: #ffffff;
    }

    button {
        background-color: #035259;
    }
</style>

<h1 style="margin-left: 10px;">Afiliasi</h1>

    <div class="button-container">
        <button class="btn btm-sm btn-primary mb-3" style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;" type="button" onclick="window.location.href='/create_afiliasi'"><i class="fas fa-plus fa-sm"></i>Tambah Afiliasi Baru</button>
    </div>


    <form class=" d-sm-inline-block form-inline mr-auto my-m10-0 mw-100 navbar-search" style="margin-left: 10px; margin-bottom: 13px; margin-top: -10px; border:1px solid #747474; border-radius: 8px;">
        <div class="input-group">
          <input type="text" class="form-control bg-light border-0 small" placeholder="Search " aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Nama Afiliasi</th>
            <th>Hubungan Afiliasi</th>
            <th>Ditambahkan Oleh</th>
            <th colspan="3">Aksi</th>
        </tr>
    </thead>
    <tbody>
        {{range .data_afiliasi}}
        <tbody>
            {{$rowCount := .RowCount}}
            {{range $index, $afiliasi := .MergedAfiliasi}}
            <tr onclick="window.location.href='/info_afiliasi/{{ .IdChild }}';">
                {{if eq $index 0}}
                <td rowspan="{{$rowCount}}">{{.NamaPengusaha}}</td>
                {{end}}
                <td>{{.NamaAfiliasi}}</td>
                <td>{{.HubunganAfiliasi}}</td>
                <td>{{.Username}}</td>
                <td><form action="/add_afiliasi/{{ .IdChild }}" method="GET"><button class="btn btn-success btn-sm" type="submit"><i class="fas fa-search-plus"></i></button></form></td>
                <td><form action="/edit_afiliasi/{{ .IdChild }}" method="GET"><button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-edit"></i></button></form></td>
                <td><form action="/delete_afiliasi/{{ .IdChild }}" method="POST"><button class="btn btn-danger btn-sm" type="submit"><i class="fas fa-trash"></i></button></form></td>
            </tr>
            {{end}}
        </tbody>
        {{end}}
    </tbody>
</table>