<h1>Tambah Nasabah</h1>

<form action="/create" method="POST">
  <label for="nama_pengusaha">Nama Pengusaha:</label><br>
  <input type="text" id="nama_pengusaha" name="nama_pengusaha"><br>

  <label for="nomor_kontak">Nomor Kontak:</label><br>
  <input type="text" id="nomor_kontak" name="nomor_kontak"><br>

  <label for="alamat_tempat_tinggal">Alamat Tempat Tinggal:</label><br>
  <input type="text" id="alamat_tempat_tinggal" name="alamat_tempat_tinggal"><br>

  <label for="bidang_usaha">Bidang Usaha:</label><br>
  <input type="text" id="bidang_usaha" name="bidang_usaha"><br>

  <label for="produk_usaha">Produk Usaha:</label><br>
  <input type="text" id="produk_usaha" name="produk_usaha"><br>

  <label for="detail_bidang_usaha">Detail Bidang Usaha:</label><br>
  <input type="text" id="detail_bidang_usaha" name="detail_bidang_usaha"><br>

  <label for="kabupaten_kota">Kabupaten/Kota:</label><br>
  <input type="text" id="kabupaten_kota" name="kabupaten_kota"><br>

  <label for="cabang">Cabang:</label><br>
  <input type="text" id="cabang" name="cabang"><br>

  <label for="kcu_kcp_kk">KCU/KCP/KK:</label><br>
  <input type="text" id="kcu_kcp_kk" name="kcu_kcp_kk"><br>

  <label for="nasabah">Nasabah:</label><br>
  <select id="nasabah" name="nasabah">
    <option value="Perusahaan">Nasabah</option>
    <option value="Individu">Non Nasabah</option>
  </select><br>

  <label for="no_CIF">No CIF:</label><br>
  <input type="text" id="no_CIF" name="no_CIF"><br>

  <label for="aum_di_bni">AUM di BNI:</label><br>
  <input type="text" id="aum_di_bni" name="aum_di_bni"><br>

  <label for="debitur">Debitur:</label><br>
  <select id="debitur" name="debitur">
    <option value="Ya">Ya</option>
    <option value="Tidak">Tidak</option>
  </select><br>

  <label for="kredit_di_bni">Kredit di BNI:</label><br>
  <input type="text" id="kredit_di_bni" name="kredit_di_bni"><br>

  <label for="produk_bni_yang_dimiliki">Produk BNI yang Dimiliki:</label><br>
  <input type="text" id="produk_bni_yang_dimiliki" name="produk_bni_yang_dimiliki"><br>

  <label for="mitra_bank_dominan">Mitra Bank Dominan:</label><br>
  <input type="text" id="mitra_bank_dominan" name="mitra_bank_dominan"><br>

  <label for="mitra_bank_dominan">AUM di Bank Lain:</label><br>
  <input type="text" id="Aum_di_bank_lain" name="Aum_di_bank_lain"><br>

  <label for="mitra_bank_dominan">Kredit di bank lain:</label><br>
  <input type="text" id="Kredit_di_bank_lain" name="Kredit_di_bank_lain"><br>

  <label for="mitra_bank_dominan">Afiliasi:</label><br>
  <input type="text" id="afiliasi" name="afiliasi"><br>

  <label for="mitra_bank_dominan">Hubungan Afiliasi:</label><br>
  <input type="text" id="Hubungan_afiliasi" name="Hubungan_afiliasi"><br>

</form>