<h1>Edit Nasabah</h1>

<form action="/update/{{ .data_nasabah.Id }}" method="POST">
  <label for="nama_pengusaha">Nama Pengusaha:</label><br>
  <input type="text" id="nama_pengusaha" name="nama_pengusaha" value="{{ .data_nasabah.Nama_pengusaha }}"><br>

  <label for="nomor_kontak">Nomor Kontak:</label><br>
  <input type="text" id="nomor_kontak" name="nomor_kontak" value="{{ .data_nasabah.Nomor_kontak}}"><br>

  <label for="alamat_tempat_tinggal">Alamat Tempat Tinggal:</label><br>
  <input type="text" id="alamat_tempat_tinggal" name="alamat_tempat_tinggal" value="{{ .data_nasabah.Alamat_tempat_tinggal}}"><br>

  <label for="bidang_usaha">Bidang Usaha:</label><br>
  <select id="bidang_usaha" name="bidang_usaha">
    <option value="">Pilih Bidang Usaha</option>
  </select><br>

  <label for="produk_usaha">Produk Usaha:</label><br>
  <select id="produk_usaha" name="produk_usaha">
    <option value="">Pilih Bidang Usaha Dulu</option>
  </select><br>

  <label for="detail_bidang_usaha">Detail Bidang Usaha:</label><br>
  <input type="text" id="detail_bidang_usaha" name="detail_bidang_usaha" value="{{ .data_nasabah.Detail_bidang_usaha}}"><br>

  <label for="cabang">Cabang:</label><br>
  <select id="cabang" name="cabang">
    <option value="">Pilih Cabang</option>
  </select><br>

  <label for="kabupaten_kota">Kabupaten/Kota:</label><br>
  <select id="kabupaten_kota" name="kabupaten_kota">
    <option value="">Pilih Cabang Dulu</option>
  </select><br>

  <label for="kcu_kcp_kk">KCU/KCP/KK:</label><br>
  <select id="kcu_kcp_kk" name="kcu_kcp_kk">
    <option value="">Pilih Cabang Dulu</option>
  </select><br>

  <label for="nasabah">Nasabah:</label><br>
  <select id="nasabah" name="nasabah">
    <option value="Nasabah" {{if eq .data_nasabah.Nasabah `Nasabah`}}selected{{end}}>Nasabah</option>
    <option value="Non Nasabah" {{if eq .data_nasabah.Nasabah `Non Nasabah`}}selected{{end}}>Non Nasabah</option>
  </select><br>

  <label for="no_CIF">No CIF:</label><br>
  <input type="number" id="no_CIF" name="no_CIF" value="{{ .data_nasabah.No_CIF}}"><br>

  <label for="aum_di_bni">AUM di BNI:</label><br>
  <input type="number" id="aum_di_bni" name="aum_di_bni" value="{{ .data_nasabah.AUM_di_BNI}}"><br>

  <label for="debitur">Debitur:</label><br>
  <select id="debitur" name="debitur">
    <option value="Ya" {{if eq .data_nasabah.Debitur `Ya`}}selected{{end}}>Ya</option>
    <option value="Tidak" {{if eq .data_nasabah.Debitur `Tidak`}}selected{{end}}>Tidak</option>
  </select><br>

  <label for="kredit_di_bni">Kredit di BNI:</label><br>
  <input type="number" id="kredit_di_bni" name="kredit_di_bni" value="{{ .data_nasabah.Kredit_di_bni}}"><br>

  <label for="produk_bni_yang_dimiliki">Produk BNI yang Dimiliki:</label><br>
  <select id="produk_bni_yang_dimiliki" name="produk_bni_yang_dimiliki">
    <option value="Giro" {{if eq .data_nasabah.Produk_bni_yang_dimiliki `Giro`}}selected{{end}}>Giro</option>
    <option value="Tabungan" {{if eq .data_nasabah.Produk_bni_yang_dimiliki `Tabungan`}}selected{{end}}>Tabungan</option>
    <option value="Tapenas" {{if eq .data_nasabah.Produk_bni_yang_dimiliki `Tapenas`}}selected{{end}}>Tapenas</option>
    <option value="Deposito" {{if eq .data_nasabah.Produk_bni_yang_dimiliki `Deposito`}}selected{{end}}>Deposito</option>
    <option value="M-Banking" {{if eq .data_nasabah.Produk_bni_yang_dimiliki `M-Banking`}}selected{{end}}>M-Banking</option>
    <option value="CM" {{if eq .data_nasabah.Produk_bni_yang_dimiliki `CM`}}selected{{end}}>CM</option>
    <option value="Payroll" {{if eq .data_nasabah.Produk_bni_yang_dimiliki `Payroll`}}selected{{end}}>Payroll</option>
    <option value="Emerald Card" {{if eq .data_nasabah.Produk_bni_yang_dimiliki `Emerald Card`}}selected{{end}}>Emerald Card</option>
    <option value="Credit Card" {{if eq .data_nasabah.Produk_bni_yang_dimiliki `Credit Card`}}selected{{end}}>Credit Card</option>
    <option value="Kredit BB" {{if eq .data_nasabah.Produk_bni_yang_dimiliki `Kredit BB`}}selected{{end}}>Kredit BB</option>
    <option value="Griya" {{if eq .data_nasabah.Produk_bni_yang_dimiliki `Griya`}}selected{{end}}>Griya</option>
    <option value="Trade" {{if eq .data_nasabah.Produk_bni_yang_dimiliki `Trade`}}selected{{end}}>Trade</option>
    <option value="GB" {{if eq .data_nasabah.Produk_bni_yang_dimiliki `GB`}}selected{{end}}>GB</option>
  </select><br>

  <label for="mitra_bank_dominan">Mitra Bank Dominan:</label><br>
  <select id="mitra_bank_dominan" name="mitra_bank_dominan">
    <option value="Mandiri" {{if eq .data_nasabah.Mitra_bank_dominan `Mandiri`}}selected{{end}}>Mandiri</option>
    <option value="BCA" {{if eq .data_nasabah.Mitra_bank_dominan `BCA`}}selected{{end}}>BCA</option>
    <option value="BRI" {{if eq .data_nasabah.Mitra_bank_dominan `BRI`}}selected{{end}}>BRI</option>
    <option value="BTN" {{if eq .data_nasabah.Mitra_bank_dominan `BTN`}}selected{{end}}>BTN</option>
    <option value="Danamon" {{if eq .data_nasabah.Mitra_bank_dominan `Danamon`}}selected{{end}}>Danamon</option>
    <option value="BSI" {{if eq .data_nasabah.Mitra_bank_dominan `BSI`}}selected{{end}}>BSI</option>
    <option value="Mega" {{if eq .data_nasabah.Mitra_bank_dominan `Mega`}}selected{{end}}>Mega</option>
    <option value="Panin" {{if eq .data_nasabah.Mitra_bank_dominan `Panin`}}selected{{end}}>Panin</option>
    <option value="Maybank" {{if eq .data_nasabah.Mitra_bank_dominan `Maybank`}}selected{{end}}>Maybank</option>
    <option value="HSBC" {{if eq .data_nasabah.Mitra_bank_dominan `HSBC`}}selected{{end}}>HSBC</option>
    <option value="OCBC" {{if eq .data_nasabah.Mitra_bank_dominan `OCBC`}}selected{{end}}>OCBC</option>
    <option value="Bank Asing" {{if eq .data_nasabah.Mitra_bank_dominan `Bank Asing`}}selected{{end}}>Bank Asing</option>
  </select><br>

  <label for="aum_di_bank_lain">AUM di Bank Lain:</label><br>
  <input type="number" id="aum_di_bank_lain" name="aum_di_bank_lain" value="{{ .data_nasabah.Aum_di_bank_lain}}"><br>

  <label for="kredit_di_bank_lain">Kredit di bank lain:</label><br>
  <input type="number" id="kredit_di_bank_lain" name="kredit_di_bank_lain" value="{{ .data_nasabah.Kredit_di_bank_lain}}"><br>

  <label for="afiliasi">Afiliasi:</label><br>
  <input type="text" id="afiliasi" name="afiliasi" value="{{ .data_nasabah.Afiliasi}}"><br>

  <label for="hubungan_afiliasi">Hubungan Afiliasi:</label><br>
  <select id="hubungan_afiliasi" name="hubungan_afiliasi">
    <option value="Direktur" {{if eq .data_nasabah.Hubungan_afiliasi `Direktur`}}selected{{end}}>Direktur</option>
    <option value="Komisaris" {{if eq .data_nasabah.Hubungan_afiliasi `Komisaris`}}selected{{end}}>Komisaris</option>
    <option value="Owner/Pemegang Saham" {{if eq .data_nasabah.Hubungan_afiliasi `Owner/Pemegang Saham`}}selected{{end}}>Owner/Pemegang Saham</option>
    <option value="Suami/Istri" {{if eq .data_nasabah.Hubungan_afiliasi `Suami/Istri`}}selected{{end}}>Suami/Istri</option>
    <option value="Ayah/Ibu" {{if eq .data_nasabah.Hubungan_afiliasi `Ayah/Ibu`}}selected{{end}}>Ayah/Ibu</option>
    <option value="Mertua" {{if eq .data_nasabah.Hubungan_afiliasi `Mertua`}}selected{{end}}>Mertua</option>
    <option value="Anak" {{if eq .data_nasabah.Hubungan_afiliasi `Anak`}}selected{{end}}>Anak</option>
    <option value="Kakak" {{if eq .data_nasabah.Hubungan_afiliasi `Kakak`}}selected{{end}}>Kakak</option>
    <option value="Adik" {{if eq .data_nasabah.Hubungan_afiliasi `Adik`}}selected{{end}}>Adik</option>
    <option value="Keponakan" {{if eq .data_nasabah.Hubungan_afiliasi `Keponakan`}}selected{{end}}>Keponakan</option>
    <option value="Sepupu" {{if eq .data_nasabah.Hubungan_afiliasi `Sepupu`}}selected{{end}}>Sepupu</option>
    <option value="Paman" {{if eq .data_nasabah.Hubungan_afiliasi `Paman`}}selected{{end}}>Paman</option>
    <option value="Tante" {{if eq .data_nasabah.Hubungan_afiliasi `Tante`}}selected{{end}}>Tante</option>
    <option value="Kakek/Nenek" {{if eq .data_nasabah.Hubungan_afiliasi `Kakek/Nenek`}}selected{{end}}>Kakek/Nenek</option>
    <option value="Cucu" {{if eq .data_nasabah.Hubungan_afiliasi `Cucu`}}selected{{end}}>Cucu</option>
    <option value="Saudara Ipar" {{if eq .data_nasabah.Hubungan_afiliasi `Saudara Ipar`}}selected{{end}}>Saudara Ipar</option>
    <option value="Besan" {{if eq .data_nasabah.Hubungan_afiliasi `Besan`}}selected{{end}}>Besan</option>
  </select><br>

  <input type="submit" value="Submit">
</form>

<script>
  // Get a reference to the parent and child dropdowns
  var bidangUsaha = document.getElementById("bidang_usaha");
  var produkUsaha = document.getElementById("produk_usaha");
  var cabang = document.getElementById("cabang");
  var kabupatenKota = document.getElementById("kabupaten_kota");
  var kcuKcpKk = document.getElementById("kcu_kcp_kk");

  // Make an AJAX call to the server endpoint to retrieve the appropriate data for the parent dropdown
  var xhr = new XMLHttpRequest();
  xhr.open("GET", "/get_bidang_usaha");
  xhr.onload = function() {
    // When the data is retrieved, update the options for the parent dropdown
    var response = JSON.parse(xhr.responseText);
    bidangUsaha.innerHTML = "";
    for (var i = 0; i < response.length; i++) {
      var option = document.createElement("option");
      option.value = response[i].bidang_id;
      option.text = response[i].bidang;
      if (response[i].bidang === "{{ .data_nasabah.Bidang_usaha }}") {
        option.selected = true;
      }
      bidangUsaha.appendChild(option);
    }

    // Trigger a change event on the parent dropdown to populate the child dropdown with the appropriate options
    var changeEvent = new Event('change');
    bidangUsaha.dispatchEvent(changeEvent);
  };

  xhr.send();

  var xhr2 = new XMLHttpRequest();
  xhr2.open("GET", "/get_cabang");
  xhr2.onload = function() {
    // When the data is retrieved, update the options for the parent dropdown
    var response = JSON.parse(xhr2.responseText);
    cabang.innerHTML = "";
    for (var i = 0; i < response.length; i++) {
      var option = document.createElement("option");
      option.value = response[i].cabang_id;
      option.text = response[i].cabang_name;
      if (response[i].cabang_name === "{{ .data_nasabah.Cabang }}") {
        option.selected = true;
      }
      cabang.appendChild(option);
    }

    // Trigger a change event on the parent dropdown to populate the child dropdown with the appropriate options
    var changeEvent = new Event('change');
    cabang.dispatchEvent(changeEvent);
  };
  xhr2.send();

  // Attach an event listener to the parent dropdown to trigger an AJAX call when it changes
  bidangUsaha.addEventListener("change", function() {
    // Make an AJAX call to the server endpoint to retrieve the appropriate data for the child dropdown
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/get_produk_usaha/" + encodeURIComponent(bidangUsaha.value));
    xhr.onload = function() {
      // When the data is retrieved, update the options for the child dropdown
      var response = JSON.parse(xhr.responseText);
      produkUsaha.innerHTML = "";
      for (var i = 0; i < response.length; i++) {
        var option = document.createElement("option");
        option.value = response[i].produk_id;
        option.text = response[i].usaha;
        if (response[i].usaha === "{{ .data_nasabah.Produk_usaha }}") {
          option.selected = true;
        }
        produkUsaha.appendChild(option);
      }
    };
    xhr.send();
  });

  // Attach an event listener to the parent dropdown to trigger an AJAX call when it changes
  cabang.addEventListener("change", function() {
    // Make an AJAX call to the server endpoint to retrieve the appropriate data for the child dropdown
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/get_kota_kabupaten/" + encodeURIComponent(cabang.value));
    xhr.onload = function() {
      // When the data is retrieved, update the options for the child dropdown
      var response = JSON.parse(xhr.responseText);
      kabupatenKota.innerHTML = "";
      for (var i = 0; i < response.length; i++) {
        var option = document.createElement("option");
        option.value = response[i].kota_kabupaten_id;
        option.text = response[i].kota_kabupaten_name;
        if (response[i].kota_kabupaten_name === "{{ .data_nasabah.Kabupaten_kota }}") {
          option.selected = true;
        }
        kabupatenKota.appendChild(option);
      }
    };
    xhr.send();

    var xhr2 = new XMLHttpRequest();
    xhr2.open("GET", "/get_kcu_kcp_kk/" + encodeURIComponent(cabang.value));
    xhr2.onload = function() {
      // When the data is retrieved, update the options for the child dropdown
      var response = JSON.parse(xhr2.responseText);
      kcuKcpKk.innerHTML = "";
      for (var i = 0; i < response.length; i++) {
        var option = document.createElement("option");
        option.value = response[i].kantor_id;
        option.text = response[i].kantor;
        if (response[i].kantor === "{{ .data_nasabah.KCU_KCP_KK }}") {
          option.selected = true;
        }
        kcuKcpKk.appendChild(option);
      }
    };
    xhr2.send();
  });
</script>