<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/web/template/bni46.png" type="image/icon type">
    <link href="/web/template/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/web/template/bootstrap/css/bootstrap.min.css">
    <title>BNI Map Legacy</title>
</head>
<style>
    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: grey;
    padding: 10px;
    }

    .navbar h1 {
    margin-left: 80px;
    }

    .navbar button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    }

    .below-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    }
    .sidebar {
        background-image: linear-gradient(180deg,#f24503 10%,#f24503 100%);
    }
</style>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
  
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
          <div class="sidebar-brand-icon rotate-n-15">
           <i href="/web/template/bni46.png"></i>
          </div>
          <div class="sidebar-brand-text mx-3" style="color: #fff;">BNI Wilayah 03</div>
        </a>
        <!-- Side Navbar -->
        <li class="nav-item">
            <a class="nav-link" href="/home">
            <i class="fas fa-database"></i>
            <span>Data Nasabah</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/afiliasi">
            <i class="fas fa-duotone fa-users"></i>
            <span>Affiliasi</span></a>
        </li>
        {{ if eq .Privilege "admin" }}
        <li class="nav-item">
            <a class="nav-link" href="/user_page">
            <i class="fas fa-user"></i>
            <span>User</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/add_users">
            <i class="fas fa-user"></i>
            <span>Tambah User</span></a>
        </li>
        {{ end }}
        <li class="nav-item">
            <a class="nav-link" href="/edit_password">
            <i class="fas fa-user"></i>
            <span>Ganti Password</span></a>
        </li>
        
        <!-- Sidebar Toggler (Sidebar) -->
        <!-- <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div> -->

        </ul>
        <!-- End of Sidebar -->
        <!-- <div class="sidebar" style="display: flex">
            <div style="width: 250px; background-color: gray">
                <ul style="list-style-type:none; padding-left:0">
                    <li>
                        <details> -->
                            <!-- Wilayah -->
                            <!-- <summary>Palembang</summary> 
                            <ul style="list-style-type:none; padding-left:0">
                            <!-- Cabang -->
                            <!-- <li><a href="#">KCP UNSRI</a></li> 
                            <li><a href="#">KCP A. Yani</a></li>
                            <li><a href="#">KCU Palembang</a></li>
                            <ul>
                                <li><a href="/home">List Nasabah</a></li>
                                <li><a href="/afiliasi">List Afiliasi</a></li>
                            </ul>
                            <li><a href="#">KCU Lmao</a></li>
                            <li><a href="#">KCP Xd</a></li>
                        </ul>
                    </details>
                </li>
                <li><a href="#">Ganti Password</a></li>
                <li><a href="#">Tambah User</a></li>
            </ul>
        </div> --> 
        <!-- Top Navbar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">
          
                  <!-- Topbar -->
                  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <h3 style="margin-left: 20px;">Welcome, {{ .Name }}!</h3>
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                      <i class="fa fa-bars"></i>
                    </button>

          
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
          
                      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                      <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                          <form class="form-inline mr-auto w-100 navbar-search">
                            <div class="input-group">
                              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                  <i class="fas fa-search fa-sm"></i>
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </li> 
          
                      <div class="topbar-divider d-none d-sm-block"></div>
          
                      <ul class="na navbar-nav navbar-right">
                      <form action="/logout" method="get">
                              <button type="submit">Logout</button>
                        </form>
                      </ul>
                    </ul>
          
                  </nav>
        </div>
        <div style="flex: 1">
            <!-- Put main content here -->
            <div class="main-content">
                {{ if eq .content "home" }}
                {{ template "home" . }}
                {{ else if eq .content "create" }}
                {{ template "create_nasabah" . }}
                {{ else if eq .content "map_legacy" }}
                {{ template "map_legacy" . }}
                {{ else if eq .content "afiliasi"}}
                {{ template "afiliasi" . }}
                {{ else if eq .content "create_afiliasi"}}
                {{ template "create_afiliasi" . }}
                {{ else if eq .content "edit_afiliasi"}}
                {{ template "edit_afiliasi" . }}
                {{ else if eq .content "user_page"}}
                {{ template "user_page" . }}
                {{ else if eq .content "add_users"}}
                {{ template "add_users" . }}
                {{ else if eq .content "edit_password"}}
                {{ template "edit_password" . }}
                {{ else if eq .content "nasabah_detail"}}
                {{ template "nasabah_detail" . }}
                {{ else if eq .content "edit_user"}}
                {{ template "edit_user" . }}
                {{ else }}
                {{ template "edit_nasabah" . }}
                {{ end }}
            </div>
        </div>
    </body>
    </html>